body{
    background-color: #fff;
}

.cms-clearfix:before,.cms-clearfix:after {
    content: "";
    display: table
}
.cms-clearfix:after {
    clear: both
}
.cms-clearfix {*zoom:1}

.app-page{}
h1.page-header{
    margin: 15px 0 20px;
    font-size: 20px;
}
#iframe-wrapper{
    width: 100%;
}